<form action="/login" method = "POST">
    <p>name <input id="user_name" type = "text" name = "user_name" /></p>
    <p>password <input id="password" type = "password" name = "password" /></p>
    <p>email <input id="email" type = "text" name = "email" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>

<form action="/loginandsignup" method = "POST">
    <p>password <input type = "password" name = "password" /></p>
    <p>email <input type = "text" name = "email" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>